<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="RecruitersDBDataContext"
         connectionString="Server=c76e0f47-5e6e-4f9f-8a1b-a2a6017b8743.sqlserver.sequelizer.com;Database=dbc76e0f475e6e4f9f8a1ba2a6017b8743;User ID=omcbiopefpptubee;Password=6MfEY3D4ddaSRfvoXpmi7Kgixq3ThnEfFDkpcCCP8k8qGZAgpw6FYcmtF6hHaSVY;"/>
  </connectionStrings>
</configuration>